* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.card-image{
    width: 100%;
    height: auto;
    border-radius:10px 10px 0 0;
}
.top-margin {
    border: 1px solid lightgrey;
    width: 40ch;
    height: auto;
    border-radius: 10px 10px 0 0; 
    box-sizing: border-box; 
}
.medium-margin {
    border: 1px solid lightgrey;
    width: 40ch;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}
.bottom-margin {
    border: 1px solid lightgrey;
    width: 40ch;
    height: auto;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
}

/*he tenido que añadir el box sizing porque el top bottom se me quedaba más pequeño aunque tuviese las mismas medidas que el resto, no he logrado averigüar por qué